body{
    background-color: #303030;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    border: 2px solid yellow;
}

img:hover{
    border: 2px solid red;
}

#wynik, #szczegoly{
    font-size: 30px;
    margin: 10px;
}

.mniejsza-czcionka{
    font-size: 20px;
    margin: 7px;
}

#autorzy{
    position: absolute;
    bottom: 0px;
    left: 20px;
    font-size: 30px;
}